/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff;
    color: #070707;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #070707;
    font-weight: 600;
}

.hero {
    text-align: center;
    padding: 50px 0;
}

.hero img {
    max-width: 100%;
    height: auto;
}

.hero h1 {
    font-size: 36px;
    margin-top: 20px;
}

.hero p {
    font-size: 18px;
    margin: 10px 0;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ce668b;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #ce668b;
}

section {
    background-color: #fff;
    padding: 40px;
    margin: 20px 0;
}

section h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.service, .portfolio-item {
    text-align: center;
    margin-bottom: 40px;
}

.service img, .portfolio-item img {
    max-width: 25%;
    height: 25%;
    border-radius: 5px;
    object-fit: contain;
}

.service h3, .portfolio-item h3 {
    margin-top: 10px;
}

footer {
    background-color: #070707;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    list-style: none;
}

footer li {
    display: inline;
    margin: 0 10px;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }
}
